*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    /* background color */
    --bg-primary-color:#252525;

    /* text color */
    --text-primary-color:#f0f0f0;

    /* spacing variables */
    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;
    --space-2xl:40px;
    --space-3xl:48px;

    /* border-colors */
    --border-primary-color: #333333;

    /* border radius */
    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius-md:12px;
    --border-radius-lg:16px;
    --border-radius-xl:20px;
    --border-radius-2xl:24px;
}

body{
    height:100%;
    width:100%;
    background-color:var(--bg-primary-color);
    color:var(--text-primary-color);
}

section{
    padding:var(--space-2xl);
}

.infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}